		<div class ="footer">
			<small>
				<%= link_to "One Month Rails","http://onemonthrails.com"%>
				by <%= link_to "Mattan Griffel" ,"http://mattangriffel.com"%>
			<p>
				Learned by 

				<%= link_to "Oladotun Opasina","http://twitter.com/dclassovercomer"%>
			</p>

			</small>
		</div>